<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail Exhibit</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/keepers"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail Exhibit</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jadwal Pembersihan</ion-card-title>
    </ion-card-header>
    <div class="" *ngIf="isHead">
      <div *ngFor="let s of schedules">
        <ion-list>
          <ion-item>
            <ion-label slot="start">
              <h2>- {{s.species}}</h2>
            </ion-label>
            <ion-label>
              <ion-label class="ion-margin-bottom">
                Tanggal : {{s.clean_date}}
              </ion-label>
              <ion-label>
                Jam : {{s.clean_hour}}
              </ion-label>
            </ion-label>
            <ion-label>
              <ion-button id="btnOpen" shape="round" size="small" (click)="setOpen(true)">Open Image</ion-button>
            </ion-label>
          </ion-item>
      
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Image</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false)">Close</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <div class="image">
                  <img src="https://static.promediateknologi.id/crop/0x0:0x0/750x500/webp/photo/p1/1052/2024/04/17/IMG_20240417_195541-3236993188.jpg" alt="">
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>
          <ion-button id="btnStat" shape="round" expand="block" size="default" [color]="status" (click)="getReportStatus(s.clean_date)" >Check Status</ion-button>
          
        </ion-list>
      </div>
    </div>

    <div class="" *ngIf="!isHead">
      <div *ngFor="let s of schedules; let i = index">
        <ion-list>
          <ion-item>
            <ion-label slot="start">
              <h2>- {{s.species}}</h2>
            </ion-label>
            <ion-label>
              <ion-label class="ion-margin-bottom">
                Tanggal : {{s.clean_date}}
              </ion-label>
              <ion-label>
                Jam : {{s.clean_hour}} WIB
              </ion-label>
              
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-input id="s.name" [(ngModel)]="schedules[i].input" label="Url Image" labelPlacement="floating" placeholder="Enter text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button id="{{s.id}}" shape="round" size="default" (click)="submit(s.id,schedules[i].input)">Submit</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-card>
</ion-content>
