<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Animals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Animals</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-input [(ngModel)]="name" (keyup)="cariAnimal()" label="Search" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
  </div>
  <ion-item id="class">
      <ion-button id="btnClass" (click)="classClick('All')">All</ion-button>
      <ion-button *ngFor="let class of classes" id="btnClass" (click)="classClick(class)">{{class}}</ion-button>
  </ion-item>
  <div class="containerCard" *ngFor="let animal of animals">
      <ion-card *ngIf="classStatus=='All' || classA(animal.animal_class_id).includes(classStatus)">
          <img alt="" [src]="animal.image" />
          <ion-card-header>
              <ion-card-title>{{animal.name}}</ion-card-title>
              <ion-card-subtitle>{{animal.species}}</ion-card-subtitle>
          </ion-card-header>
          <ion-item id="detailItem">
              <ion-button shape="round" size="default" slot="end" [routerLink]="toDetailAnimal(animal.id)">Detail</ion-button>
          </ion-item>
      </ion-card>
  </div>
</ion-content>
